
nav {
    background-color: #ddd;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.4);
    >section {
        >:nth-child(2) {
            >* {
                display: block;
                color: #8E1D36;
                text-decoration: none;
                padding: 5px;
                &:hover {
                    background-color: white;
                }
            }
        }
    }
    @include respond-to(small) {
        text-align: left;
        padding: 5px;
        >section {
            >:nth-child(2) {
                margin-left: 20px;
            }
        }
    }
    @include respond-to(notsmall) {
        >section {
            position: relative;
            display: inline-block;
            width: 100%;
            max-width: 150px;

            &:hover {
                background-color: white;
                >:nth-child(2) {
                    display: block;
                }
            }

            >:nth-child(2) {
                display: none;
                position: absolute;
                background-color: #ddd;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                padding: 5px;
                left: -5px;
                min-width: 100%;
                z-index: 1;

            }
        }
    }
}
