@import 'responsive-helpers';

body {
    font-family: sans-serif;
}

header img {
    max-width: 100%;
    height: auto;
}

header {
    text-align: center;
}

@import 'nav-bar';

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding:10px;
    box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.15);
}

footer {
    margin-top:10px;
    font-size: x-small;
    text-align: center;
}
