
header img {
    max-width: 100%;
    height: auto;
}

header {
    text-align: center;
}

nav {
    background-color: #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content *:hover {
    background-color: white;
}
