
<header>
    <a href="/"><img src="http://w5ac.tamu.edu/images/WebheaderW5AC.png" alt="W5AC The Texas A&M Amateur Radio Club, College Station, Texas"/></a>

    <nav>
        <section class="dropdown">
            <span>About Us</span>
            <div class="dropdown-content">
                <a href="">What is W5AC</a>
                <a href="">History</a>
                <a href="">Officers</a>
                <a href="">Constitution</a>
                <a href="">Contact Us</a>
            </div>
        </section>
        <section class="dropdown">
            <span>Club Resources</span>
            <div class="dropdown-content">
                <a href="/info/repeater">Repeater</a>
                <a href="/info/shack">Shack</a>
            </div>
        </section>
        <section class="dropdown">
            <span>Join!</span>
            <div class="dropdown-content">
                <a href="">Become a Member</a>
                <a href="">Get Licensed</a>
            </div>
        </section>
        <section class="dropdown">
            <span>Activities</span>
            <div class="dropdown-content">
                <a href="">Announcements</a>
                <a href="">Calendar</a>
                <a href="">Meeting Minutes</a>
            </div>
        </section>
    </nav>

</div>

</header>
